imports:
  - { resource: vendor/ecphp/php-conventions/config/php73/grumphp.yml }

parameters:
  tasks.phpstan.configuration: phpstan.neon
  extra_tasks:
    phpspec:
      verbose: true
    clover_coverage:
      clover_file: build/logs/clover.xml
      level: 50
    infection:
      threads: 10
      test_framework: phpspec
      configuration: infection.json.dist
      min_msi: 50
      min_covered_msi: 90
