imports:
  - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
  tasks.phpstan.configuration: phpstan.neon
  tasks.phpstan.ignore_patterns:
    - vendor/
    - spec/
    - build/
  tasks.phpcs.ignore_patterns:
    - vendor/
    - spec/
    - build/
  extra_tasks:
    phpspec:
      verbose: true
      metadata:
        priority: 3000
    infection:
      threads: 10
      test_framework: phpspec
      configuration: infection.json.dist
      min_msi: 50
      min_covered_msi: 50
      metadata:
        priority: 2000
    securitychecker:
      lockfile: ./composer.lock
      format: ~
      end_point: ~
      timeout: ~
      run_always: false
      metadata:
        priority: 10000
